<!DOCTYPE html>
<html lang="en">
  <body
    bgcolor="#efefef"
    style="
      text-align: center;
      background: #efefef;
      padding: 2em 1em;
      border-radius: 20px;
    "
  >
    <div class="greeting">
      <h3>Hey {{firstname}}!</h3>
      <p>
        There is a change of password from your account, disregard this if you
        make the changes or click the button below to reset your password
      </p>
    </div>
    <hr />
    <div class="link-wrap" style="margin: 2em auto">
      <a
        href="{{verify_url}}"
        target="_blank"
        style="
          text-decoration: none;
          background: #54373c;
          color: #fff;
          width: max-content;
          margin: auto;
          padding: 10px 20px;
          border-radius: 20px;
          font-weight: 600;
          white-space: wrap;
          word-break: break-all;
        "
        >Change Password</a
      >
    </div>
    <div class="alternate">
      <p>
        If that doesn't work, copy and paste the following link in your browser:
      </p>
      <div class="link-wrap">
        <a href="{{verify_url}}" style="color: #54373c; text-decoration: none"
          >{{verify_url}}</a
        >
      </div>
    </div>
    <footer style="padding: 1em; margin-top: 2em">
      <div>
        <div>
          <a href="https://pauloxuries.com">
            <img
              src="https://pauloxuries.csom/identity/logo.png"
              alt="pauloxuries logo"
              style="width: 180px; height: 50px"
            />
          </a>
        </div>
        <p>
          The premier e-commerce destination for men and women’s style combining
          the best brands that focus on craftsmanship and elegance.
        </p>
      </div>
      <p>
        You received this email because you ordered some product from our store.
        If it looks weird,
        <a
          href="https://pauloxuries.com/orders"
          style="color: #54373c; text-decoration: none"
        >
          view it in your browser.</a
        >
      </p>
    </footer>
  </body>
</html>
