<!DOCTYPE html>
<html lang="en">
  <body
    style="
      text-align: center;
      background: #efefef;
      padding: 2em 1em;
      border-radius: 20px;
    "
  >
    <div class="greeting">
      <h3>Hello there!</h3>
    </div>
    <hr />
    <div class="confirm">
      <h5 style="font-size: 1.2em">
        Thank you for subscribing to our community
      </h5>
      <p>
        You will be the first to know new uploaded products, and fast selling
        products with best prices
      </p>
    </div>
    <hr />
    <footer style="padding: 1em; margin-top: 2em">
      <div>
        <div>
          <a href="https://pauloxuries.com">
            <img
              src="https://pauloxuries.com/identity/logo.png"
              alt="pauloxuries logo"
              style="width: 180px; height: 50px"
            />
          </a>
        </div>
        <p>
          The premier e-commerce destination for men and women’s style combining
          the best brands that focus on craftsmanship and elegance.
        </p>
      </div>
      <p style="color: #d6909b">
        You received this email because you subscribe to our community updates
      </p>
    </footer>
  </body>
</html>
